<form action="/square_root/results">
<label for="user_num">Enter a number</label>
<input id="user_num" type="float" placeholder="What number do you want the square root of?" name="user_num">

<button>Calculate square root</button>
</form>
